# Normalize text in the repository, check out with native line endings.
* text=auto

*.m      text
*.md     text
*.cff    text
*.json   text
*.ps1    text eol=crlf

*.gz     binary
*.png    binary
*.mat    binary
